<div class="input-group" *ngFor="let i18n of getValues();">

  <span class="input-group-addon" id="basic-addon1">
        <img src="static/images/i18n/{{i18n.langKey}}.png" title="{{i18n.langKey}}">
  </span>
 
  <input *ngIf="type == 'text'" type="text" class="form-control" aria-describedby="basic-addon1" 
      name="i18n.value" [(ngModel)]="i18n.value" />


  <textarea *ngIf="type == 'textarea'" class="form-control" aria-describedby="basic-addon1" 
    name="i18n.value" [(ngModel)]="i18n.value" row="5"></textarea>
    
  
  <tiny-editor *ngIf="type == 'tiny-editor'" [elementId]="'tiny-' + i18n.id"
  	[(value)]="i18n.value" style="width: 100%;"></tiny-editor>


</div>
