@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400";

body {
    background-color: #ffffff;
    color: #1B151B;
}
h1,h2, h3, h4{
    color: #887850;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.footer-wrapper{
    color: #887850;
    background-color: #1B151B;
    padding: 1em;
}
.footer-wrapper h2{
    color: #ffffff;
}

#header{
    font-weight: bold;
}
#nav {
    color: #887850;
    background-color: rgba(27, 21, 27, 0.90);
}

#nav.fixed {
    background-color: rgba(27, 21, 27, 0.80);
}
#nav ul li{
    text-transform: uppercase;
    font-weight: bold;
}
#nav ul li a:focus{
    color: #887850;
    text-decoration: none;
}

#nav ul li a:hover:not(.active)  {
    color: #ffffff;
    background-color: rgba(222, 222, 222, 0.25);
    text-decoration: none;
}

#nav ul li a.active {
    background-color: #ffffff;
    box-shadow: none;
    text-decoration: none;
}


#wrapper {
    margin: 0 auto;
}

#header-wrapper{
    background: url(../images/background.jpg) no-repeat top center scroll;
    background-size: cover;
}

#header{
    padding: 2em;
}
#header .logo{
    background: url('../images/logo-500.png') no-repeat;
    width: 500px;
    height: 500px;
    display: block;
    margin: auto;
}

@media screen and (max-width: 576px) {
    #header .logo{
        background-image: url('../images/logo-300.png');
        width: 300px;
        height: 300px;
    }
}


.card{
    margin-top: 20px;
}
.card-title{
    text-align: center;
    font-weight: bold;
}
.card-text{
    text-align: center;
}

#footer{
    text-align: center;
}

#nav {
    -moz-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
    -webkit-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
    -ms-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
    transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
    margin: 0 auto;
    display: block;
    padding: 1em;
    cursor: default;
    text-align: center;
    width: 100%;
}

#nav input, #nav select, #nav textarea {
    color: #636363;
}

#nav a:hover {
    color: #636363;
}

#nav strong, #nav b {
    color: #636363;
}

#nav h1, #nav h2, #nav h3, #nav h4, #nav h5, #nav h6 {
    color: #636363;
}

#nav blockquote {
    border-left-color: #dddddd;
}

#nav code {
    background: rgba(222, 222, 222, 0.25);
    border-color: #dddddd;
}

#nav hr {
    border-bottom-color: #dddddd;
}

#nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#nav ul li {
    -moz-transition: margin 0.2s ease;
    -webkit-transition: margin 0.2s ease;
    -ms-transition: margin 0.2s ease;
    transition: margin 0.2s ease;
    display: inline-block;
    margin: 0 0.10em;
    padding: 0;
    vertical-align: middle;
}

#nav ul li a {
    -moz-transition: font-size 0.2s ease;
    -webkit-transition: font-size 0.2s ease;
    -ms-transition: font-size 0.2s ease;
    transition: font-size 0.2s ease;
    display: inline-block;
    height: 2.25em;
    line-height: 2.25em;
    padding: 0 1.25em;
    border: 0;
    border-radius: 8px;
    box-shadow: inset 0 0 0 1px transparent;
}



#nav.fixed {
    position: fixed;
    top: 0;
    padding: 0.5em 1em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 10000;
}

#nav.fixed ul li {
    margin: 0 0.175em;
}

#nav.fixed ul li a {
    font-size: 0.9em;
}

@media screen and (max-width: 736px) {

    #nav {
        padding: 0.5em 1em;
    }

    
    #nav.fixed ul li, #nav ul li {
        margin: 0;
    }

    #nav.fixed ul li a, #nav ul li a {
        padding: 0 0.75em;
        font-size: 0.9em;
    }
    
}








ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.icons li {
    display: inline-block;
    padding: 0 0.65em 0 0;
}

ul.icons li:last-child {
    padding-right: 0 !important;
}
.icon {
    text-decoration: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-bottom: none;
    position: relative;
}
.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon > .label {
    display: none;
}

.icon.alt {
    display: inline-block;
    border: solid 1px;
    border-radius: 100%;
}

.icon.alt:before {
    display: block;
    font-size: 1.25em;
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
}


.modal-header h4{
    padding: 5px 20px;
}
.modal-body p{
    padding: 0 20px;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    margin: auto;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}


#contact .card-block{
    padding: 10px;
}