<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{mail.new.password.title}">Activation compte</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{mail.new.password.hello(${user.firstName}, ${user.lastName})}">
            Dear
        </p>
        <p th:text="#{mail.new.password.text1}">
            Your account has been created
        </p>
        
        <p>
            <span th:text="#{mail.new.password.text2}">Your login information, </span>
            <ul>
            	<li th:text="#{mail.new.password.login(${user.login})}"></li>
            	<li th:text="#{mail.new.password.password(${clearPassword})}"></li>
            </ul>
        </p>
        
        <p>
            <a th:href="@{${appwebsite}|}"
               th:text="#{mail.new.password.link}">App Link</a>
        </p>
        
        <p>
        	<span th:text="#{mail.new.password.link.alternative}"></span>
        	<a th:href="@{${appwebsite}|}"
               th:text="@{${appwebsite}}">App Link</a>
        </p>
        
        <p>
            <em th:text="#{email.signature}">App Name.</em>
        </p>
    </body>
</html>
