      <form novalidate (ngSubmit)="onSubmit()" #fileForm="ngForm" >
  
        <alert-error [error]="error"></alert-error>
  
        <div class="row form-group" *ngIf="file.id">
          <div class="col-12">
              <img src="api/dl-files/{{file.uuid}}" height="100px" *ngIf="file.contentType.indexOf('image') != -1"/>
              <a href="api/dl-files/{{file.uuid}}" target="_blank">
                {{file.name}}
              </a>
              <button type="button" class="btn btn-danger" (click)="delete()" *ngIf="file.id">Supprimer</button>
          </div>
        </div>
  
        <div class="row form-group" *ngIf="!file.id">
          <div class="col-12">
              <input type="file" class="form-control" #fileInput (change)="onSubmit()">
          </div>
        </div>
  
      </form>